#hangManPhoto {
    float: left;
    height: 400px;
    width: 400px;
}

#container {
    background-color: white;
    margin: 100px;
    height: 400px;
    width: 80%;
}

body {
    background-color: cornflowerblue;
    font-family: 'Creepster', cursive;
}

#hangman {
    height: 400px;
    width: 360px;
}

a:link, a:visited {
    text-decoration: none;
    color: red;
    font-weight: bolder;
}

button {
    margin: 5px;
    height:60px;
    width: 60px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
    font-size: 40px;
    font-family: 'Ewert', cursive;
}

#word {
    margin-bottom: 20px;
    padding-top: 0;
    padding-left: 50%;
    height: 100px;
    width: 200px;
}

#hiddenWord {
    font-size: 100px;
}

.winner {
    padding-top: 25%;
    height: 200px;
    width: 200px;
    padding-left: 60%;
    font-size: 25px;
}

#prompt {
    font-size: 40px;
    margin-right: 30px;
}

#logoImage {
    width: 100%;

}

#logo {
    margin-left: auto;
    margin-right: auto;
}

#start {
    margin-left: 45%;
    margin-right: 40%;
    font-size: 40px;
}
